extends ../layout

block content
  .page-header
    h3 Make New Group
  form.form-horizontal(id='newgroup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='groupname') Group Name
      .col-sm-7
        input.form-control(type='text', name='groupname', id='groupname', placeholder='Type new group name here', autofocus)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | New Group
