extends layout

block content
  h1 GraphEdu
  p.lead Connect and fund your projects
  hr
  .row
    .col-sm-6
      h2 Get Funding
      p Need funds for your project? Put in a request to pull from the group here.
      p
        a.btn.btn-default(href='paypal_payout', role='button') View details »
    .col-sm-6
      h2 Get Help 
      p Connect your github account or stackexchange account to ask for help. 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Share 
      p Show everyone your progress on your project. 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Connect 
      p Connect with mentors in industry.
      p
        a.btn.btn-default(href='#', role='button') View details »
