extends layout

block content
  .page-header
    h2
      i.fa.fa-phone
      | Request Funds


  h4 Get funds for your project
  .row
    .col-sm-6
      form(role='form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          .input-group
            input.form-control(type='text', name='fundsrequest', placeholder='Amount Needed')
            span.input-group-btn
              button.btn.btn-success(type='submit') Send
