extends layout

block content
  .page-header
    h2
      i.fa.fa-phone
      | Request Funds


  h4 Get funds for your project
  .row
    .col-sm-6
      form(role='form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          .input-group
            input.form-control(type='text', name='fundsrequest', placeholder='Amount Needed')
            span.input-group-btn
              button.btn.btn-success(type='submit') Send



  .page-header
    h3 Pull Funds

  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='amount_needed') How much do you need?
      .col-sm-8
        input.form-control(type='text', name='name', id='name', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='purpose') What are you working on?
      .col-sm-8
        input.form-control(type='text', name='purpose', id='purpose')
    .form-group
      label(class='col-sm-2 control-label', for='details') Give your group some details
      .col-sm-8
        textarea.form-control(type='text', name='details', id='details', rows='7')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          i.fa.fa-envelope
          | Send
